main {
  display: flex;
}

.form {
  flex: 1;
  display: inline-block;
  padding: 0 24px;
  margin-right: 12px;
  border: solid 2px khaki;
}

form {
  width: 100%;
  padding: 0;
}
.formItem {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  box-sizing: border-box;
}
