* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-bottom: solid 1px #ccc;
}
main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}
.sidemenu {
  width: 250px;
  height: 100%;
  /* position: relative; */
}
.drag {
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: slateblue;
  color: #fff;
  text-align: center;
  opacity: 1;
  transform: translateX(0px) translateY(0);
}

.contents {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: relative;
}
